<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bibliografie</title>
    <link th:href="@{/css/files.css}" rel="stylesheet" href="../static/css/files.css">
</head>

<body>
<h1>Dołącz do bibliografii</h1>
<a href="/pubs">Anuluj dołączanie</a><br>
<br>
------------------------------------------<br>
<div class="container">
    <ul th:each="name : ${fileNames}">
        <li><a th:href="@{'/pubs/attach/'+${pubId}+'/'+${name}}" th:text="${name}"></a></li>
    </ul>
</div>
</body>
</html>