<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bibliografie</title>
    <link th:href="@{/css/files.css}" rel="stylesheet" href="../static/css/files.css">
</head>

<body>
<h1>Bibliografie</h1>
<a href="/logout">Wyloguj się</a><br>
<a href="/files">Przejdź do widoku plików</a><br>
<a href="/pubs/create">Utwórz publikację</a>
<br>
------------------------------------------<br>
<div class="container">
    <table>
        <tr>
            <td><b>Nazwa publikacji</b></td>
            <td><b>Autor publikacji</b></td>
            <td><b>Liczba stron publikacji</b></td>
            <td><b>Rok wydania publikacji</b></td>
            <td><b>Powiązane pliki</b></td>
            <td><b><i>Powiąż plik</i></b></td>
            <td><b><i>Usuń powiązanie</i></b></td>
            <td><b><i>Usuń publikację</i></b></td>
        </tr>
        <th:block th:each="bib : ${bibs}">
            <td th:text="${bib.getPublicationTitle()}"></td>
            <td th:text="${bib.getPublicationAuthor()}"></td>
            <td th:text="${bib.getPublicationPageCount()}"></td>
            <td th:text="${bib.getPublicationYear()}"></td>
            <td>
                <ul th:each="name : ${bib.getFiles()}">
                    <li th:text="${name}"></li>
                </ul>
            </td>
            <td><a th:href="@{'/pubs/attach/'+${bib.getBibliographyId()}}">Powiąż</a></td>
            <td><a th:href="@{'/pubs/detach/'+${bib.getBibliographyId()}}">Usuń powiązanie</a></td>
            <td>TODO</td>
        </th:block>
    </table>
</div>
</body>
</html>