<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Witaj</title>
</head>

<body>
<h1>Witaj</h1>
<p>Strona umożliwia przechowywanie i udostępnianie użytkownikom plików.</p>
<a href="/login">Zaloguj się!</a>
Nie masz konta? <a href="/signup">Zarejestruj się!</a><br>
<a href="/loginAuth0">Zaloguj za pomocą Auth0</a> (kamień milowy IV)

<h1>kontener</h1>
<div class="container">
    <table>
        <th:block th:each="user : ${users}">
            <tr>
                <td th:text="${user.login}">...</td>
                <td th:text="${user.pesel}">...</td>
                <td>...</td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>